<div class="ln-u-display-none ln-u-display-inline-block@sm ln-u-1/3@sm ln-o-grid__item">
  <form autocomplete="false" id="sort_form1" name="sort_form1" method="get" action="#" class="ln-u-display-flex ln-u-soft-bottom">
    <label for="sortOptions1" class="ln-c-label--alt ln-u-font-weight-medium"></label>
    <select data-theme="none" id="sortOptions1" name="sort" class="ln-c-select ln-c-select--alt" title="Sort by">
      <option value="relevance" selected="selected">
              Relevance</option>
      <option value="price-asc">
              Price (lowest first)</option>
      <option value="price-desc">
              Price (highest first)</option>
      <option value="newArrivals">
              search.page.sort.newArrivals</option>
      <option value="bvratings">
              Ratings</option>
      <option value="reducedItems">
              Reduced items</option>
      <option value="new-desc">
              search.page.sort.new-desc</option>
      <option value="new-asc">
              search.page.sort.new-asc</option>
      </select>
  </form>
</div>